<!DOCTYPE html>
<!---Coding By CoderGirl!--->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--<title> An About Us Page | CoderGirl </title>-->
  <!---Custom Css File!--->
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <section class="about-us">
    <div class="about">
      <!--<img src="girl.png" class="pic">-->
      <div class="text">
        <h2>About Us</h2>
        <h5>The advent & <span>impact of technology for our common man</span></h5>
          <p>From a purely technological point of view, we tend to think of mobile phones in terms of applications, processors, cameras etc. However, when we look at the society at large, the impact of mobile phones in the lives of the citizen of our country has been nothing short of phenomenal. Consequently, we at myG have played a singular role in transforming the lives of over 60 lakh individuals profoundly, for the better.</p>
          <h5>Innovative way to be connected</h5>
          <p>We were right there when mobile phones were just beginning to sweep through our society, connecting just about everyone. We began our journey of creating superb mobile phone stores in 2006 as 3G Mobile World. We soon become recognized for our hard work, expertise and the finest range of products. We brought hi-tech devices ranging from the latest mobile phones, tablets, laptops, desktops, cameras, smart watches, land phones and all other electronic – entertainment system and accessories under one roof. At that time, such concept stores were a novelty and we are recognized as a pioneer in this segment in South India.</p>
          <h5>Building the Chain</h5>
          <p>What began as a single store soon grew to a series of stores as we found customers across the State increasingly loving our concept stores! As we rebranded to become myG, we had already become a leading mobile phone and electronics store chain with 100 showrooms across Kerala. The transformative power has been our innate ability to understand technology and connect it with the lives of people. Our superior service and emphasis on giving the customer the best choice at the right price have proven to be our success mantra. We know our products very well and we know our customers even better. We know what makes them tick, what tickles their fancy and drives their desires.</p>
          <h5>The journey ahead</h5>
          <p>Over the years, mobile phones became smaller, thinner, lighter, more powerful and unbelievably ‘smart’. Their glasses have become virtually unbreakable. Dust and water don’t affect them. Their cameras became increasingly sophisticated and their memory as well as processing power became exceptionally fast. With more computing power in our hands that massive computers of a generation ago, we can now conduct business, send emails, communicate and be entertained in countless ways. Innovative applications enable us to do tasks that were unimaginable just a few years ago. Henceforth, mobile technologies will become all that and much more, relying on artificial intelligence and nano-technologies to become even more ubiquitous part of our lives. myG will ever be part of the amazing journey into the future.</p>

          <div class="data">
        <a href="#" class="hire">Hire Me</a>
        </div>
      </div>
    </div>
  </section>
</body>
</html>